pipeline_code/ingest_clv_data_pipeline.txt
{    "name": "ingest_clv_data",    "properties": {        "activities": [            {                "name": "Get folder details",                "type": "GetMetadata",                "dependsOn": [],                "policy": {                    "timeout": "0.12:00:00",                    "retry": 0,                    "retryIntervalInSeconds": 30,                    "secureOutput": false,                    "secureInput": false                },                "userProperties": [],                "typeProperties": {                    "dataset": {                        "referenceName": "dataset_clv",                        "type": "DatasetReference",                        "parameters": {                            "p_window_end_date": {                                "value": "@pipeline().parameters.p_window_end_date",                                "type": "Expression"                            }                        }                    },                    "fieldList": [                        "exists"                    ],                    "storeSettings": {                        "type": "AzureBlobFSReadSettings",                        "enablePartitionDiscovery": false                    },                    "formatSettings": {                        "type": "JsonReadSettings"                    }                }            },            {                "name": "if folder exists",                "type": "IfCondition",                "dependsOn": [                    {                        "activity": "Get folder details",                        "dependencyConditions": [                            "Succeeded"                        ]                    }                ],                "userProperties": [],                "typeProperties": {                    "expression": {                        "value": "@activity('Get folder details').output.exists",                        "type": "Expression"                    },                    "ifTrueActivities": [                        {                            "name": "ingest_customer_info",                            "type": "DatabricksNotebook",                            "dependsOn": [],                            "policy": {                                "timeout": "0.12:00:00",                                "retry": 0,                                "retryIntervalInSeconds": 30,                                "secureOutput": false,                                "secureInput": false                            },                            "userProperties": [],                            "typeProperties": {                                "notebookPath": "/clvproject/ingestion/1. ingest_customer_info",                                "baseParameters": {                                    "p_data_file": {                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",                                        "type": "Expression"                                    }                                }                            },                            "linkedServiceName": {                                "referenceName": "ingest_customer_info_ls",                                "type": "LinkedServiceReference"                            }                        },                        {                            "name": "ingest_discounts_data",                            "type": "DatabricksNotebook",                            "dependsOn": [],                            "policy": {                                "timeout": "0.12:00:00",                                "retry": 0,                                "retryIntervalInSeconds": 30,                                "secureOutput": false,                                "secureInput": false                            },                            "userProperties": [],                            "typeProperties": {                                "notebookPath": "/clvproject/ingestion/2. ingest_discounts_data",                                "baseParameters": {                                    "p_data_file": {                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",                                        "type": "Expression"                                    }                                }                            },                            "linkedServiceName": {                                "referenceName": "ingest_customer_info_ls",                                "type": "LinkedServiceReference"                            }                        },                        {                            "name": "ingest_transaction_data",                            "type": "DatabricksNotebook",                            "dependsOn": [],                            "policy": {                                "timeout": "0.12:00:00",                                "retry": 0,                                "retryIntervalInSeconds": 30,                                "secureOutput": false,                                "secureInput": false                            },                            "userProperties": [],                            "typeProperties": {                                "notebookPath": "/clvproject/ingestion/3. ingest_transaction_data",                                "baseParameters": {                                    "p_data_file": {                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",                                        "type": "Expression"                                    }                                }                            },                            "linkedServiceName": {                                "referenceName": "ingest_customer_info_ls",                                "type": "LinkedServiceReference"                            }                        },                        {                            "name": "ingest_visit_frequency",                            "type": "DatabricksNotebook",                            "dependsOn": [],                            "policy": {                                "timeout": "0.12:00:00",                                "retry": 0,                                "retryIntervalInSeconds": 30,                                "secureOutput": false,                                "secureInput": false                            },                            "userProperties": [],                            "typeProperties": {                                "notebookPath": "/clvproject/ingestion/4. ingest_visit_frequency",                                "baseParameters": {                                    "p_data_file": {                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",                                        "type": "Expression"                                    }                                }                            },                            "linkedServiceName": {                                "referenceName": "ingest_customer_info_ls",                                "type": "LinkedServiceReference"                            }                        }                    ]                }            }        ],        "parameters": {            "p_window_end_date": {                "type": "string"            }        },        "annotations": [],        "lastPublishTime": "2024-11-13T23:58:36Z"    },    "type": "Microsoft.DataFactory/factories/pipelines"}